@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

:root {
  --primaria-700: #2f1b04;
  --secundaria-600: hsl(32, 50%, 55%);
  --secundaria-300: hsl(34, 100%, 92%);
  --secundaria-100: hsl(32, 100%, 97%);
  --secundaria-50: hsl(32, 100%, 9%);

  --secundaria-hover: hsl(32, 38%, 45%);

  --white-900: hsl(100, 100%, 100%);

  --gray-50: hsl(0, 0%, 97%);
  --gray-100: hsl(0, 0%, 74%);
  --gray-400: hsl(0, 0%, 44%);

  --black-700: hsl(0, 0%, 12%);

  --font-w100: 100;
  --font-w200: 200;
  --font-w300: 300;
  --font-w400: 400;
  --font-w500: 500;
  --font-w600: 600;
  --font-w700: 700;
  --font-w800: 800;

  --font-family-pd: "Playfair Display", serif;
  --font-family-cs: "Clicker Script", cursive;
  --font-family-os: "Lora", serif;

  --padding-025: 0.25em;
  --padding-05: 0.5em;
  --padding-075: 0.75em;
  --padding-1: 1em;
  --padding-2: 2em;
  --padding-3: 3em;
  --padding5735: 5.375em;

  --gap-05: 0.5rem;
  --gap-1: 1rem;
  --gap-15: 1.5rem;
  --gap-2: 2rem;
  --gap-3: 3rem;
  --gap-4: 4rem;
}

/* Utils */

body {
  font-family: var(--font-family-os);
  font-size: 1rem;
  background-image: url("../img/images/background.png");
  background-repeat: repeat;
  background-position: top;
}

main {
  margin: 0;
}

main > * {
  margin: 6rem 0;
}

button {
  padding: var(--padding-05) var(--padding-075);
  background-color: var(--secundaria-600);
  color: var(--white-900);
  border: none;
  border-radius: 0.5em;
  font-weight: var(--font-w100);
  font-size: 1rem;
  cursor: pointer;
}

button:is(:active, :hover) {
  background-color: var(--secundaria-hover);
  transition: background 2s ease;
  background-color: var(--secundaria-hover);
}

.cabecalho {
  width: 100%;
  background-image: url("../img/images/header_imagem.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.cabecalho {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cabecalho-navegacao,
.cabecalho-descricao {
  margin: 2em 0;
}

.cabecalho-lista {
  padding: 0 var(--padding5735);
}

.cabecalho-navegacao {
  width: 100%;
  color: var(--white-900);
}

.cabecalho-lista {
  display: flex;
  justify-content: space-between;
}

.cabecalho-lista__nome-principal h1 {
  font-weight: var(--font-w500);
  color: var(--secundaria-600);
  display: inline-flex;
  gap: var(--gap-1);
}

.cabecalho-lista__nome-principal h1::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/icones/cafe.svg");
}

.cabecalho-lista > * {
  list-style: none;
}

.cabecalho-lista__links {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-1);
}

.cabecalho-lista__links a {
  position: relative;
  text-decoration: none;
  color: var(--white-900);
}

.cabecalho-lista__links a:before {
  content: "";
  border-bottom: solid 3px var(--secundaria-600);
  transform: scaleX(0);
  transition: transform 350ms ease;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0.25em;
}

.cabecalho-lista__links a:hover::before {
  transform: scaleX(1);
}

.cabecalho-descricao {
  display: grid;
  gap: var(--gap-1);
  color: var(--white-900);
  width: 750px;
  padding: 2.4em var(--padding5735);
}

.cabecalho-descricao > * {
  font-style: normal;
  letter-spacing: 0.08em;
}

.cabecalho-descricao button {
  width: max-content;
}

.cabecalho-lista__procurar button {
  padding: 0.2em 0.5em;
  font-size: 0.85rem;
  font-weight: var(--font-w500);
}

.cabecalho-descricao button:is(:active, :hover),
.cabecalho-informacoes button:is(:active, :hover) {
  transition: background 2s ease;
  background-color: var(--secundaria-hover);
}

.cabecalho-descricao h2 {
  font-family: var(--font-family-cs);
  font-weight: var(--font-w500);
  font-size: 8rem;
  line-height: 140px;
  color: var(--secundaria-600);
}

.cabecalho-descricao p {
  line-height: 35px;
  font-weight: var(--font-w400);
  font-size: 1.25rem;
}

.cabecalho-informacoes,
.cabecalho-lista__procurar label {
  display: flex;
}

.cabecalho-informacoes {
  flex-direction: column;
  align-items: center;
  color: var(--white-900);
  gap: 4.15rem;
}

.cabecalho-informacoes__gerais {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: var(--gap-3);
  justify-self: center;
  width: 100%;
  padding: 0 var(--padding5735);
}

.cabecalho-informacoes__gerais > * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-05);
  font-size: 1.22rem;
}

.cabecalho-informacoes__gerais > *::before {
  content: "";
  width: 30px;
  height: 30px;
}

.icone-telefone::before {
  background-image: url("../img/icones/telefone.svg");
}

.icone-email::before {
  background-image: url("../img/icones/mensagem.svg");
}

.icone-endereco::before {
  background-image: url("../img/icones/endereco.svg");
}

.cabecalho-lista__procurar label {
  align-items: center;
  position: relative;
}

.cabecalho-lista__buscar {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.cabecalho-lista__icone {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
}

.cabecalho-lista__icone::before {
  content: "";
  background-image: url("../img/icones/buscar.svg");
  width: 24px;
  height: 24px;
}

.cabecalho-lista__input {
  border-radius: 0.25em;
  width: 250px;
  padding: 0.2em 3.5em;
  outline: none;
  background-color: transparent;
  color: var(--secondary-700);
  border: none;
}

.cabecalho-lista__input:focus {
  opacity: 1;
}

.cabecalho-lista__input::placeholder {
  font-weight: var(--font-w400);
  color: var(--gray-100);
}

/* Seção 1 descrevendo a coffee shops */

.sobre-nos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding5735);
  flex-wrap: wrap;
  position: relative;
  margin: 0;
}

.sobre-nos__descricao {
  width: 40%;
  min-width: 30%;
  display: grid;
  gap: var(--gap-1);
  padding: 1em 0;
}

.sobre-nos__descricao,
.sobre-nos__xicara {
  z-index: 1;
}

.sobre-nos__descricao button {
  width: max-content;
}

.sobre-nos__descricao h2 {
  font-weight: var(--font-w800);
  font-size: 3rem;
}

.sobre-nos__descricao p {
  font-weight: var(--font-w300);
}

.sobre-nos__xicara {
  width: 500px;
  min-width: 40%;
}

.sobre-nos__xicara img {
  width: 100%;
  height: 100%;
}

/* Seção 2 informações sobre os cafés */

.meu-cafe {
  margin: 0;
}

.meu-cafe__informacoes {
  display: grid;
  grid-template-areas:
    "principal principal principal"
    "sacocafe copo potecafe"
    "cappuccino copo moedora"
    "maquina copo cafegelado";
  grid-auto-columns: 1fr;
  width: 100%;
  height: max-content;
  padding: var(--padding-1) var(--padding5735);
  gap: var(--gap-4);
}

/* Área dos grids */

.meu-cafe__informacoes-nomeprincipal {
  font-size: 3rem;
  font-weight: var(--font-w800);
  padding: 0 var(--padding-2);
}

.meu-cafe__informacoes div:nth-child(1) {
  grid-area: sacocafe;
}

.meu-cafe__informacoes div:nth-child(2) {
  grid-area: potecafe;
}

.meu-cafe__informacoes div:nth-child(3) {
  grid-area: cappuccino;
}

.meu-cafe__informacoes div:nth-child(4) {
  grid-area: moedora;
}

.meu-cafe__informacoes div:nth-child(5) {
  grid-area: maquina;
}

.meu-cafe__informacoes div:nth-child(6) {
  grid-area: cafegelado;
}

.meu-cafe__copo {
  grid-area: copo;
  height: 80%;
}

.meu-cafe__copo img {
  margin: 0 auto;
}

/*  */

.meu-cafe__informacoes div {
  display: flex;
  column-gap: var(--gap-2);
}

.meu-cafe__informacoes div h3 {
  font-weight: var(--font-w500);
  font-size: 1.75rem;
}

.meu-cafe__informacoes p {
  font-weight: var(--font-w100);
  color: var(--gray-400);
}

.meu-cafe__informacoes div > span {
  display: inline-flex;
}

.meu-cafe__informacoes div > span::before {
  content: "";
  width: 100px;
  height: 100px;
}

.meu-cafe__informacoes-icone__potecafe::before {
  background-image: url("../img/icones/potecafe.svg");
}

.meu-cafe__informacoes-icone__xicaracafe::before {
  background-image: url("../img/icones/xicaracafe.svg");
}

.meu-cafe__informacoes-icone__maquina::before {
  background-image: url("../img/icones/maquina.svg");
}

.meu-cafe__informacoes-icone__dinheiro::before {
  background-image: url("../img/icones/dinheirocafe.svg");
}

.meu-cafe__informacoes-icone__pote::before {
  background-image: url("../img/icones/pote.svg");
}

.meu-cafe__informacoes-icone__copo::before {
  background-image: url("../img/icones/copodecafe.svg");
}

.meu-cafe__informacoes-cafe {
  flex-direction: column;
}

/* Seção 3 menu */

.sobre-cafe {
  display: grid;
}

.sobre-cafe__descricao {
  display: grid;
  grid-template-areas:
    "menucafe imagemdois menucappuccino"
    "imagemtres menuexpresso imagemum";
  grid-auto-columns: 2fr;
  width: 100%;
  padding: 0 var(--padding5735);
}

.sobre-cafe__imagem {
  display: flex;
  justify-content: center;
  height: 70%;
}

.sobre-cafe__imagem {
  margin: 0 auto;
}

.sobre-cafe__informacoes:nth-of-type(1) {
  grid-area: menucafe;
  width: 100%;
}

.sobre-cafe__informacoes:nth-of-type(2) {
  grid-area: menucappuccino;
}

.sobre-cafe__informacoes:nth-of-type(3) {
  grid-area: menuexpresso;
}

.sobre-cafe__imagem:nth-of-type(1) {
  grid-area: imagemum;
}

.sobre-cafe__imagem:nth-of-type(2) {
  grid-area: imagemdois;
}

.sobre-cafe__imagem:nth-of-type(3) {
  grid-area: imagemtres;
}

.sobre-cafe h2 {
  font-size: 3rem;
  padding-bottom: 1.5em;
  margin: 0 auto;
}

.sobre-cafe h3 {
  font-weight: var(--font-w500);
  font-size: 2.5rem;
  letter-spacing: 0.16em;
}

.sobre-cafe__informacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-1);
}

/* Seção 4 */

.marcas-logo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  justify-items: center;
  row-gap: var(--gap-3);
}

.marcas-logo > span {
  display: inline-flex;
}

.marcas-logo > span::before {
  content: "";
  width: 120px;
}

.marcas-logo__brothers::before {
  background-image: url("../img/marcas/brothers.svg");
  height: 56px;
}

.marcas-logo__dunkin::before {
  background-image: url("../img/marcas/Dunkin_logo.svg");
  height: 22px;
}

.marcas-logo__krispy::before {
  background-image: url("../img/marcas/krispy.svg");
  height: 42px;
}

.marcas-logo__mccafe::before {
  background-image: url("../img/marcas/mccafe.svg");
  height: 49px;
}

.marcas-logo__biggby::before {
  background-image: url("../img/marcas/biggby.svg");
  height: 40px;
}

/* Mapa */

.mapa-principal {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 4em;
}

/* footer */

footer {
  background-color: var(--primary800);
  padding: 4.25em;
  background-color: var(--primaria-700);
  color: var(--white-900);
  background-image: url("../img/images/background2.png");
  background-repeat: no-repeat;
}

.footer {
  display: grid;
  padding: 0 var(--padding-1);
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.footer__links {
  display: grid;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0;
}

.footer__links a {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0.2em 0;
  text-decoration: none;
  color: var(--gray-100);
  font-weight: var(--font-w100);
  letter-spacing: 0.08em;
}

.footer__links a:before {
  content: "";
  border-bottom: solid 3px var(--secundaria-600);
  transform: scaleX(0);
  transition: transform 350ms ease;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer__links a:hover::before {
  transform: scaleX(1);
}

.footer__links li {
  list-style: none;
}

.footer__links p {
  font-weight: var(--font-w700);
  margin-bottom: 1em;
  letter-spacing: 0.25em;
  font-size: 1.15rem;
  color: var(--white-900);
}

.footer__principal {
  display: grid;
  gap: 1rem;
}

.footer__principal h5 {
  color: var(--white900);
  font-weight: var(--font-w800);
  font-size: 1.5rem;
}

.footer__principal p {
  color: var(--white900);
  font-weight: var(--font-w100);
  color: var(--gray-100);
}

.footer__principal-logo {
  display: inline-flex;
}

.footer__principal-logo::before {
  content: "";
  width: 300px;
  height: 64px;
  background-image: url("../img/icones/logo.svg");
}

label {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.footer__inscrever {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.footer__icon-procurar {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  padding-left: 0.5em;
}

.footer__icon-procurar::before {
  content: "";
  background-image: url("../img/icones/buscar.svg");
  width: 24px;
  height: 24px;
}

.footer__input-inscrever {
  border-radius: 0.25em;
  width: 100%;
  height: 20px;
  padding: 1.75em 2.5em;
  outline: none;
  border: 1px solid var(--white-900);
  border-radius: 10px;
  background-color: transparent;
  color: var(--white-900);
}

.footer__input-inscrever:focus {
  opacity: 1;
}

.footer__input-inscrever::placeholder {
  font-weight: var(--font-w300);
}

.footer__btn {
  position: absolute;
  right: 1rem;
  border: none;
  background-color: var(--secundaria-600);
  color: var(--white-900);
  border-radius: 0.25em;
  padding: 0.5em;
  cursor: pointer;
}

.footer__borda {
  padding: 2em 0;
}

.footer__borda {
  width: 100%;
  border-bottom: 1px solid var(--gray-100);
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  color: var(--white900);
  padding: 2em 0 0 0;
  flex-wrap: wrap;
  gap: var(--gap-2);
  align-items: center;
}

.redes-sociais__icons {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-between;
}

.redes-sociais__icons > * {
  display: inline-flex;
  width: 48px;
  height: 48px;
  background-color: var(--secundaria-hover);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.redes-sociais__icons > *:hover {
  transform: scale(0.9);
  background-color: var(--secundaria-600);
}

.redes-sociais__icons > *::before {
  content: "";
  width: 32px;
  height: 32px;
}

.redes-sociais__icons-facebook::before {
  background-image: url("../img/icones/facebook.svg");
}

.redes-sociais__icons-insta::before {
  background-image: url("../img/icones/instagram.svg");
}

.redes-sociais__icons-whatsapp::before {
  background-image: url("../img/icones/whatsapp.svg");
}

.redes-sociais__icons-linkedin::before {
  background-image: url("../img/icones/linkedin.svg");
}

/* Responsivo */

@media (max-width: 1288px) {
  .footer__links:nth-of-type(3) {
    margin-top: 2em;
    justify-content: flex-start;
  }
}

@media (max-width: 1245px) {
  .sobre-cafe__descricao {
    grid-template-areas:
      "menucafe menucappuccino menuexpresso"
      "imagemtres imagemdois imagemum";
    padding: 0 2em;
  }

  .meu-cafe__informacoes {
    grid-template-areas:
      "cafegelado cafegelado maquina maquina"
      "sacocafe sacocafe potecafe potecafe"
      "cappuccino cappuccino moedora moedora"
      "copo copo copo copo";
  }

  .meu-cafe__copo {
    height: 100%;
  }

  .meu-cafe__copo img {
    width: 60%;
  }

  .meu-cafe__informacoes-nomeprincipal {
    margin: 1em 0;
  }
}

@media (max-width: 1130px) {
  .sobre-cafe__descricao {
    grid-template-areas:
      "menucafe imagemtres"
      "menucappuccino imagemdois"
      "menuexpresso imagemum";
  }
}

@media (max-width: 1008px) {
  .sobre-nos__descricao {
    width: 100%;
    order: -1;
    margin-top: 4em;
  }

  .footer__links:nth-of-type(2) {
    justify-content: flex-start;
    margin-top: 2em;
  }

  .cabecalho-lista {
    gap: 2rem;
  }

  .cabecalho-navegacao {
    position: relative;
  }

  .menu-toggle {
    position: absolute;
    top: 1em;
    right: 4.256em;
  }

  .hamburguer__icon {
    display: inline-flex;
    cursor: pointer;
  }

  .hamburguer__icon::before {
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("../img/icones/hamburguer.svg");
  }

  .cabecalho-lista {
    position: absolute;
    top: 4em;
    right: 0;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 400ms;
    padding: 1em;
    align-items: flex-start;
    border-radius: 0.5em;
    background-color: var(--primaria-700);
    flex-direction: column;
  }

  .cabecalho-lista__procurar {
    order: 1;
    border: 1px solid var(--white-900);
    padding: 0.5em;
    border-radius: 0.5em;
  }

  .cabecalho-lista__procurar button {
    padding: 0.5em 0.85em;
  }

  .cabecalho-lista__links {
    flex-direction: column;
    align-items: start;
    width: 100%;
    order: 2;
  }

  .cabecalho-lista__nome-principal {
    order: 3;
  }

  .cabecalho-navegacao,
  .cabecalho-descricao {
    margin: 0;
  }

  .cabecalho-descricao {
    margin-top: 2em;
  }
}

@media (max-width: 850px) {
  .sobre-cafe__descricao {
    grid-template-areas:
      "menucafe menucafe"
      "imagemtres imagemtres"
      "menucappuccino menucappuccino"
      "imagemdois imagemdois"
      "menuexpresso menuexpresso"
      "imagemum imagemum";
  }

  .sobre-cafe__imagem {
    margin-top: 2em;
    height: 80%;
  }

  .meu-cafe__informacoes {
    grid-template-areas:
      "sacocafe sacocafe sacocafe"
      "cappuccino cappuccino cappuccino"
      "moedora moedora moedora"
      "copo copo copo"
      "maquina maquina maquina"
      "potecafe potecafe potecafe"
      "cafegelado cafegelado cafegelado";
  }

  .meu-cafe__copo {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 727px) {
  .footer__links:nth-of-type(1) {
    justify-content: start;
    margin-top: 2em;
  }

  .cabecalho-descricao {
    width: 100%;
  }
}

/* Abrir */

.open {
  clip-path: circle(150% at top right);
}

/* Fechar */

.close::before {
  background-image: url("/img/icones/close.svg");
  transition: background 0.5s ease;
  animation: rotateicon 0.5s ease;
}

@keyframes rotateicon {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Animação opacity */

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visivel {
  opacity: 1;
}


