@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

:root {
  --primaria-700: #2f1b04;
  --secundaria-600: hsl(36, 92%, 70%);

  --secundaria-300: hsl(34, 100%, 92%);
  --secundaria-100: hsl(32, 100%, 97%);
  --secundaria-50: hsl(32, 100%, 98%);

  --secundaria-hover: hsl(36, 92%, 60%);

  --white-900: hsl(100, 100%, 100%);
  --gray-100: hsl(0, 0%, 74%);
  --gray-400: hsl(0, 0%, 44%);
  --black-700: hsl(0, 0%, 12%);

  --font-w100: 100;
  --font-w200: 200;
  --font-w300: 300;
  --font-w400: 400;
  --font-w500: 500;
  --font-w600: 600;
  --font-w700: 700;
  --font-w800: 800;

  --font-family-pd: "Playfair Display", serif;
  --font-family-cs: "Clicker Script", cursive;
  --font-family-os: "Lora", serif;

  --padding-025: 0.25em;
  --padding-05: 0.5em;
  --padding-075: 0.75em;
  --padding-1: 1em;
  --padding5735: 5.375em;

  --gap-05: 0.5rem;
  --gap-1: 1rem;
  --gap-15: 1.5rem;
  --gap-2: 2rem;
  --gap-3: 3rem;
  --gap-4: 4rem;
}

/* Utils */

body {
  font-family: var(--font-family-os);
  font-size: 1rem;
}

button {
  padding: var(--padding-05) var(--padding-05);
  background-color: var(--secundaria-600);
  color: var(--black-700);
  border: none;
  border-radius: 0.5em;
  font-weight: var(--font-w800);
  font-size: 1rem;
  cursor: pointer;
}

.cabecalho,
.cabecalho-gradiente {
  width: 100%;
  height: 100%;
}

.cabecalho {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("../img/images/header_imagem.png");
  z-index: 0;
}

.cabecalho-navegacao,
.cabecalho-descricao {
  margin: 2em 0;
}

.cabecalho-lista {
  padding: 0 var(--padding5735);
}

.cabecalho-navegacao {
  width: 100%;
  color: var(--white-900);
}

.cabecalho-lista {
  display: flex;
  justify-content: space-between;
}

.cabecalho-lista__nome-principal h1 {
  font-weight: var(--font-w500);
  color: var(--secundaria-600);
  display: inline-flex;
  gap: var(--gap-1);
}

.cabecalho-lista__nome-principal h1::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/icones/cafe.svg");
}

.cabecalho-lista > * {
  list-style: none;
}

.cabecalho-lista__links {
  display: inline-flex;
  gap: var(--gap-1);
}

.cabecalho-lista__links a {
  position: relative;
  text-decoration: none;
  color: var(--white-900);
}

.cabecalho-lista__links a:before {
  content: "";
  border-bottom: solid 3px var(--secundaria-600);
  transform: scaleX(0);
  transition: transform 250ms ease;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0.25em;
}

.cabecalho-lista__links a:hover::before {
  transform: scaleX(1);
}

.cabecalho-descricao {
  display: grid;
  gap: var(--gap-1);
  color: var(--white-900);
  width: 750px;
  padding: 2.4em var(--padding5735);
}

.cabecalho-descricao > * {
  font-style: normal;
  letter-spacing: 0.08em;
}

.cabecalho-descricao button {
  width: max-content;
}

.cabecalho-lista__procurar button {
  padding: 0.2em 0.5em;
  font-size: 0.85rem;
  font-weight: var(--font-w500);
}

.cabecalho-descricao button:is(:active, :hover),
.cabecalho-informacoes button:is(:active, :hover) {
  transition: background 2s ease;
  background-color: var(--secundaria-hover);
}

.cabecalho-descricao h2 {
  font-family: var(--font-family-cs);
  font-weight: var(--font-w500);
  font-size: 8rem;
  line-height: 140px;
  color: var(--secundaria-600);
}

.cabecalho-descricao p {
  line-height: 35px;
  font-weight: var(--font-w400);
  font-size: 1.25rem;
}

.cabecalho-informacoes,
.cabecalho-informacoes__gerais,
.cabecalho-lista__procurar label {
  display: flex;
}

.cabecalho-informacoes {
  flex-direction: column;
  align-items: center;
  color: var(--white-900);
  gap: var(--gap-15);
}

.cabecalho-informacoes__gerais {
  gap: var(--gap-3);
}

.cabecalho-informacoes__gerais > * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-05);
  font-size: 1.22rem;
}

.cabecalho-informacoes__gerais > *::before {
  content: "";
  width: 30px;
  height: 30px;
}

.icone-telefone::before {
  background-image: url("../img/icones/telefone.svg");
}

.icone-email::before {
  background-image: url("../img/icones/mensagem.svg");
}

.icone-endereco::before {
  background-image: url("../img/icones/endereco.svg");
}

.cabecalho-lista__procurar label {
  align-items: center;
  position: relative;
}

.cabecalho-lista__buscar {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.cabecalho-lista__icone {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  padding-left: 0.5em;
}

.cabecalho-lista__icone::before {
  content: "";
  background-image: url("../img/icones/buscar.svg");
  width: 24px;
  height: 24px;
}

.cabecalho-lista__input {
  border-radius: 0.25em;
  width: 250px;
  padding: 0.2em 3.5em;
  outline: none;
  background-color: transparent;
  color: var(--secondary-700);
  border: none;
}

.cabecalho-lista__input:focus {
  opacity: 1;
}

.cabecalho-lista__input::placeholder {
  font-weight: var(--font-w400);
  color: var(--gray-100);
}

/* Seção 1 descrevendo a coffee shops */

.sobre-nos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding5735);
  flex-wrap: wrap;
  position: relative;
}

.sobre-nos__descricao {
  width: 40%;
  min-width: 30%;
  color: var(--primaria-700);
  display: grid;
  gap: var(--gap-1);
  padding: 1em 0;
}

.sobre-nos__descricao,
.sobre-nos__xicara {
  z-index: 1;
}

.sobre-nos__descricao button {
  width: max-content;
}

.sobre-nos__descricao h2 {
  font-weight: var(--font-w800);
  font-size: 3rem;
}

.sobre-nos__descricao p {
  font-weight: var(--font-w300);
}

.sobre-nos__xicara {
  width: 500px;
  min-width: 40%;
}

.sobre-nos__xicara img {
  width: 100%;
  height: 100%;
}

/* Seção 2 informações sobre os cafés */

.meu-cafe__informacoes {
  display: grid;
  grid-template-areas:
    "ponteum ponteum ponteum"
    "lupa copo carteira"
    "ondaum copo ondadois"
    "cafe copo numero"
    "pontedois pontedois pontedois";
  grid-auto-columns: 1fr;
  width: 100%;
  padding: 0 var(--padding5735);
  gap: var(--gap-2);
}

/* Área dos grids */

.meu-cafe__informacoes div:nth-child(1) {
  grid-area: lupa;
}

.meu-cafe__informacoes div:nth-child(2) {
  grid-area: carteira;
}

.meu-cafe__informacoes div:nth-child(3) {
  grid-area: cafe;
}

.meu-cafe__informacoes div:nth-child(4) {
  grid-area: numero;
}

.meu-cafe__copo {
  grid-area: copo;
}

.meu-cafe__vetor-ponteum {
  grid-area: ponteum;
}

.meu-cafe__vetor-pontedois {
  grid-area: pontedois;
}

.meu-cafe__vetor-ondaum {
  grid-area: ondaum;
}

.meu-cafe__vetor-ondadois {
  grid-area: ondadois;
}

/*  */

.meu-cafe__informacoes div {
  display: flex;
  gap: var(--gap-1);
}

.meu-cafe__informacoes div h3 {
  color: hsl(32, 83%, 10%);
  font-weight: var(--font-w700);
  font-size: 2rem;
  line-height: 1.2;
}

.meu-cafe__vetor-ponteum,
.meu-cafe__vetor-pontedois {
  display: inline-flex;
  height: 51px;
  margin: 0 auto;
}

.meu-cafe__vetor-ponteum::before,
.meu-cafe__vetor-pontedois::before {
  content: "";
  width: 862px;
}

.meu-cafe__vetor-ponteum::before {
  background-image: url("../img/utils/arco1-secao2.svg");
}

.meu-cafe__vetor-pontedois::before {
  background-image: url("../img/utils/arco2-secao2.svg");
}

.meu-cafe__vetor-ondaum,
.meu-cafe__vetor-ondadois {
  display: inline-flex;
  justify-content: center;
  height: 162px;
}

.meu-cafe__vetor-ondaum::before,
.meu-cafe__vetor-ondadois::before {
  content: "";
  width: 31px;
}

.meu-cafe__vetor-ondaum::before {
  background-image: url("../img/utils/corda1-secao2.svg");
}

.meu-cafe__vetor-ondadois::before {
  background-image: url("../img/utils/corda2-secao2.svg");
}

.meu-cafe__informacoes div > span {
  display: inline-flex;
}

.meu-cafe__informacoes div > span::before {
  content: "";
  width: 75px;
  height: 66px;
}

.meu-cafe__informacoes-icone__lupa::before {
  background-image: url("../img/icones/coracao.svg");
}
.meu-cafe__informacoes-icone__carteira::before {
  background-image: url("../img/icones/preco.svg");
}
.meu-cafe__informacoes-icone__cafe::before {
  background-image: url("../img/icones/xicaracafe.svg");
}
.meu-cafe__informacoes-icone__numero::before {
  background-image: url("../img/icones/numeroum.svg");
}

.meu-cafe__informacoes-cafe {
  flex-direction: column;
}
